/selector-understanding/src/main/resources/rules
/selector-engine/.classpath
/selector-integration/.classpath
/selector-knowledge/.classpath
/selector-model/.classpath
/selector-understanding/.classpath
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/selector-engine/.settings/org.eclipse.core.resources.prefs
/selector-engine/.settings/org.eclipse.jdt.core.prefs
/selector-engine/.settings/org.eclipse.m2e.core.prefs
/selector-integration/.settings/org.eclipse.core.resources.prefs
/selector-integration/.settings/org.eclipse.jdt.core.prefs
/selector-integration/.settings/org.eclipse.m2e.core.prefs
/selector-knowledge/.settings/org.eclipse.core.resources.prefs
/selector-knowledge/.settings/org.eclipse.jdt.core.prefs
/selector-knowledge/.settings/org.eclipse.m2e.core.prefs
/selector-model/.settings/org.eclipse.core.resources.prefs
/selector-model/.settings/org.eclipse.jdt.core.prefs
/selector-model/.settings/org.eclipse.m2e.core.prefs
/selector-understanding/.settings/org.eclipse.core.resources.prefs
/selector-understanding/.settings/org.eclipse.jdt.core.prefs
/selector-understanding/.settings/org.eclipse.m2e.core.prefs
/.project
/selector-engine/.project
/selector-integration/.project
/selector-knowledge/.project
/selector-model/.project
/selector-understanding/.project


.idea
*.iml
target/
/selector-engine/selector-engine.iml
/selector-integration/selector-integration.iml
/selector-knowledge/selector-knowledge.iml
/selector-model/selector-model.iml
/selector-understanding/selector-understanding.iml
/selector-api.iml
